.backgroundDark {
  background-color: #383838 !important;
}

.marginBottom {
  margin-bottom: 10vh;
}

.backgroundLight {
  background-color: #CCCCCC !important;
  padding-top: 14px !important;
}

.background {
  background: -webkit-linear-gradient(360deg, #1C1C1C 20%, #494949 360%);
  background: -moz-linear-gradient(360deg, #1C1C1C 20%, #494949 360%);
  background: linear-gradient(360deg, #1C1C1C 20%, #494949 360%);
}

.headerColor {
  color: #FFF
}

.textBlack {
  color: #383838
}

.textColor {
  color: #fff
}

a:hover {
  text-decoration: underline;
}

.dark-toast{
  background: #323232 !important;
  color: #fff !important;
}

/* label color */
   .input-field label {
     color: #FFF;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #FFF;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #FFF;
     box-shadow: 0 1px 0 0 #FFF;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #FFF;
     box-shadow: 0 1px 0 0 #FFF;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #FFF;
     box-shadow: 0 1px 0 0 #FFF;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #FFF;
     /* color: #424242; */
   }
